*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}
body{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.header-container, .one-section__container{
    max-width: 1400px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.header-menu-items{
    width: 70%;
    display: flex;
    justify-content: space-between;
} 
.menu-item{
    font-size: 42px;
}
h1, p{
    width: 50%;
}
h1{
    font-size: 48px;
}
p{
    font-size: 28px;  
    margin-top: 20px;

}
.btn{
    padding: 20px 80px;
    background-color: #e17c00;
    border-radius: 12px;
}
.one-section{
    margin-top: 270px;
}
.btn-block{
    margin-top: 40px;
}